{
  "extends": "stylelint-config-recommended",
  "rules": {
    "indentation": [
      2,
      {
        "except": ["value"],
        "severity": "warning"
      }
    ],
    "color-no-invalid-hex": true,
    "max-empty-lines": 2,
    "comment-empty-line-before": [
      "always",
      {
        "ignore": ["stylelint-commands", "after-comment"]
      }
    ]
  }
}
